*{
    margin:0;
    padding:0;
}
.navbar{
    padding:10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap:10px;
    align-items: center;
}
.navbar_s1_title{
    color: #A435F0;
}
.navbar_section2{
    padding:10px;
    border: 1px solid black;
    border-radius: 30px;
    width:60%;
    display: flex;
    gap:10px;
    align-items: center;
}
.navbar_section2 input{
    border:none;
    width:100%;
    font-size: 16px;
}
.navbar_section2 input::focus{
    outline: none;
}
.navbar_section3{
    display: flex;
    gap:10px;
    align-items: center;
}
.categories{
    display: flex;
    padding:10px;
    border-bottom: 1px solid #000;
    justify-content: space-around;
}
.categories p{
    background-color: #A435F0;
    color:white;
    padding:10px;
    border-radius: 30px;
}
.sale_image img{
    width:100%
}
.recommended{
    padding:10px;
}
.recommended_container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.course-card{
    width:280px;

}
.course-card img{
    height:50%;
    width:100%;
}
.topics{
    padding:10px;
}
.topics_container{
    display: flex;
    gap:10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics_container p{
     border:2px solid grey;
     padding:10px;
     flex-grow: 1;
     flex-basis: 25%;
}
.popular{
    padding:10px;
}
.popular_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:10px;
}
.footer{
    padding:30px;
    background-color: black;
    color:white;
}
.footer_one{
    display: flex;
    gap:10px;
}
.footer_one p{
    margin:20px;
}
.footer_two{
    margin:20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
